#tsexporter #tse-cron code {
	padding: 10px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 3px;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
	font-weight: bold;
}

.form-group {
	clear: both;
	margin-bottom: 1em;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.form-group>div {float: left;}

.form-group>div input, .form-group>div select {
	display: block;
}

label.checkbox {
	font-weight: normal;
	text-align: left;
	cursor: pointer;

	display: block;
	min-height: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}

.col-lg-offset-3 {
	margin-left: 25%;
}

.col-lg-9 {
	width: 75%
}

.checkbox input {
	float: left;
	margin-left: -20px;
	margin-right: 5px;
	line-height: normal;
	color: black;
	font-size: 12px;
	padding: 0;
	vertical-align: middle;
}

label.control-label {
	font-size: 13px;
	font-weight: normal;
	color: #666666;
}

.col-lg-3 {
	width: 25%;
}