*{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;

}
.img{
    width:100px;
    height:100px;
}
.calendar {
    margin-top: 20px;
}


.calendar {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.calendar td, .calendar th {
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 115px!important;
}
.calendar th{
    font-size: 30px;
}
h2{
    font-weight: 700;
    margin-block:20px;
}

.calendar tr:nth-child(even) {
    background-color: #f2f2f2;
}

.calendar tr:hover {
    background-color: #ddd;
}

.calendar th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

nav a{
    background:none;
    color:white;
}

nav{
    background: #1a8196!important;
}
.calcul,a{
    padding-block: 5px;
    padding-inline: 15px;
    background: #1a8196;
    color: white !important;
    display: inline-block;
    margin-block: 10px;
    margin-inline: 10px;
     border:none;
    text-decoration: none;}


.g-signin2 {
    margin-bottom: 20px;
}

.mail {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.mail input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.mail .submit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.mail button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.distance {
    background: lightseagreen;
    display: inline-block;
    padding-block: 20px;
    padding-inline: 10px;
    color: white;
    border-radius: 10px;

}

.ik {
    background: #095e55;
    display: inline-block;
    padding-block: 20px;
    padding-inline: 10px;
    color: white;
    border-radius: 10px;
    font-size: 25px;

}

h1 ,h2{
    color: #095e55;
}

 .navbar-brand {
     font-family:emoji;
     font-size: 40px;
 }


.index{

    display:flex;
    background: #174949;
    width:80%;
    margin-top: 50px;
    margin-inline:auto;
    justify-content: space-around;
    height:60%;
    align-items: center;

}
.index p{
    font-size: 16px;
}
img{
    mix-blend-mode:multiply;
}
.index p{
    color:white;
}

h1{
    font-weight: 800!important;
    margin-block: 20px!important;
}

@media (max-width: 850px){
    .table thead {
        display: none;
    }

    .table tr{
        display: block;
        margin-bottom: 40px;
    }

    .table td {
        display: block;
        text-align: right;

    }

    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .index{
        flex-direction: column;
    }
}


