#tsexporter {
	background-color: #fff;
	padding: 20px;
	border-radius: 3px;
}

#tsexporter>h1 {
	margin-top: 0;
	margin-bottom: 25px;
}

#tsexporter #tse-tabs {
	margin: 0;
	padding: 0;
	border-bottom: solid #ccc 1px;
	padding-bottom: 5px;
}

#tsexporter #tse-tabs, #tsexporter #tse-tabs li {
	list-style-type: none;
}

#tsexporter #tse-tabs li {
	display: inline-block;
}

#tsexporter #tse-tabs li a {
	text-decoration: none;
	padding: 5px 20px;
	background-color: #eee;
	border-radius: 5px 5px 0 0;
}

#tsexporter #tse-tabs li.active a {
	background-color: #ccc;
}

#tsexporter>.tabs {
	margin: 20px 0 40px;
}

#tse-engines td.checkbox {
	padding: 0 10px;
	vertical-align: middle;
}

#tse-engines td.checkbox input {
	margin: 0;
	padding: 0;
	line-height: normal;
}

#tse-engines td.spacer {
	padding-left: 100px;
}

#tse-engines img {
	max-width: 250px;
	max-height: 100px;
	cursor: pointer;
}

#tsexporter .tabs .btn {
	margin-top: 20px;
}

#tsexporter .tabs table .btn {
	margin-top: 0px;
}



#tse-attributes table tr td {
	padding-top: 20px;
}

#tse-general div.text-right .btn {
	margin-top: 0
}

#tse-general table:first-child {
	margin-top: 40px;
}

#tse-general table {
	margin-bottom: 40px;
}

#tse-general table thead>tr>th {
	vertical-align: middle;
	background-color: #ddd;
}

#tse-general table a {
	text-decoration: none;
}


#tse-cron code {
	margin-left: 40px;
}

/************************/


#tsexporter .tabs label.checkbox {
	font-weight: normal;
	text-align: left;
	cursor: pointer;
}

/***********************/
