#tsexporter #tse-cron code {
	padding: 10px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 3px;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
	font-weight: bold;
}

.form-group {
	clear: both;
	margin-bottom: 1em;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.form-group>div {float: left;}

.form-group>div input, .form-group>div select {
	display: block;
}

label.checkbox {
	font-weight: normal;
	text-align: left;
	cursor: pointer;

	display: block;
	min-height: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}

.col-lg-offset-3 {
	margin-left: 25%;
}

.col-lg-9 {
	width: 75%
}

.checkbox input {
	float: left;
	margin-left: -20px;
	margin-right: 5px;
	line-height: normal;
	color: black;
	font-size: 12px;
	padding: 0;
	vertical-align: middle;
}

label.control-label {
	font-size: 13px;
	font-weight: normal;
	color: #666666;
}

.col-lg-3 {
	width: 25%;
}

#tsexporter .tabs .btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 8px;
	font-size: 12px;
	line-height: 1.42857;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}

#tsexporter hr {
	margin-top: 17px;
	margin-bottom: 17px;
	border: 0;
	border-top: 1px solid #eee;
}

#tsexporter table {
	width: 100%
}

#tsexporter .tabs table .btn-default {
	color: #363A41;
  background-color: #e6e6e6;
  border-color: #bfbfbf;
}

#tsexporter .tabs table .btn-default:hover {
	color: #fff;
  background-color: #00aff0;
  border-color: #008abd;
}

#tsexporter .text-right {text-align: right}

#tsexporter .tabs .btn-primary {
	background-color: #00aff0;
	color: #fff;
	text-transform: uppercase;
	border-color: #2eacce;
}

#tsexporter .tabs .btn-danger {
	color: #fff;
	background-color: #d5676f;
	border-color: #cd4b55;
}
